* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	text-align: center;
	background-color: #58cdd1;
	color: white;
}
.container {
	display: flex;
	grid-template-columns: 300px 300px 300px;
	grid-gap: 50px;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card iframe {
	background-color: #222831;
	height: 37rem;
	border-radius: 1em;
	display: center;
	box-shadow: 0 10px 50px rgba(235, 25, 110, 1);

	color: white;
}

.btn {
	background: none;
	border: none;
	cursor: pointer;
	line-height: 1.5;
	font: 700 1.2rem 'Roboto Slab', sans-serif;
	padding: 0.75em 2em;
	letter-spacing: 0.05rem;
	margin: 1em;
	width: 13rem;
}

.btn:focus {
	outline: 2px dotted #55d7dc;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	font-size: 1.2em;
}
/* https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: var(--main-color-transparent); /* Fallback color */
}

/* Modal Content/Box */
.modal-content {
	background-color: black;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid black;
	border-radius: 1em;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	color: rgb(255, 0, 200);
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
